.jumbotron {
  background-color: #e6cc00;
  color: #208CAC;
  padding: 20px;
}

.jumbotron .glyphicon {
  font-size: 96px;
  color: #fff;
  margin-top: 5px;
}

.jumbotron .glyphicon:hover {
  color: #000;
}

.jumbotron h1 {
    font-size: 128px;
}

.rules {
  margin: 80px;
  color: #e6cc00;
  font-size: 14px;
}

.rules p {
  font-family: monospace;
  color: #fff;
}

.manWhoHangs {
  margin: 80px;
  box-shadow: 10px 10px #000;
  background-color: #fff9cc;
  padding: 30px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}

.game {
  background-color: #fff9cc;
  padding: 50px;
  margin: 80px;
  box-shadow: 10px 10px #000;
  text-align: center;
  font-family: monospace;
  margin-top: 400px;
}

#letterSubmission {
  margin: 80px;
  margin-top: 10px;
}

/*.letterKeyboard {
  background-color: #fff9cc;
  padding: 40px;
  margin: 80px;
  margin-top: 0px;
  box-shadow: 10px 10px #000;
  text-align: center;
  font-family: monospace;
}*/

.btn {
  margin-top: 10px;
}

body {
  background-color: #208CAC;
}
